@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
}

body {
  background-image: url('../images/bg.gif');
  color: #333;
}

a {
  cursor:pointer;
  text-decoration: none;
  color: #0088DD;
}

a:hover {
  color: #FF6600;
}

a.button {
  text-align: center;
  border: 1px solid #0088DD;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #0088DD;
  color: #FFF;
}

a.button:hover {
  background-color: #FF6600
}

a.button:active {
  background-color: #FF9A14
}

input{
  outline:none;
}

ul {
  list-style: none
}

ol {
  list-style: none
}

a.weixin ol{
  cursor:default;
  margin-left:-5px;
  margin-top:3px;
  display:none;
  position:absolute;
  z-index:1000;
  width:128px;
  height:128px;
  background-color:#FFF;
  border:1px solid #C8C8C8;
  overflow:hidden;
}

a.weixin:hover ol {
  display:block;
}

a.weixin li{
  margin:0;
  display:block;
}

img.pic{
  float:left;
  margin-right:20px;
  border:1px solid #DDD;
}

div.header {
  margin: 0 auto;
  width: 998px;
  background-color:#FFF;
  -webkit-box-shadow:0 -4px 4px 0 #CCC;
  -moz-box-shadow:0 -4px 4px 0 #CCC;
  box-shadow:0 -4px 4px 0 #CCC;
}
div.topbar{
  width:100%;
  height:31px;
  line-height:31px;
  background-color:#F9F9F9;
  color:#BBB;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:0 20px;
  border-bottom:1px solid #F1F1F1;
}

div.topbar a{
  color:#999;
  text-decoration:none;
}
div.topbar a:hover{
  text-decoration:underline;
}
form.search{
  margin-top:40px;
  margin-right: 20px;
}
form.search input {
  float:left;
  color: #BBB;
  border: 2px solid #DDD;
  border-right:0;
  height: 36px;
  padding: 0 10px;
  width: 240px;
}
form.search a {
  float:left;
  display:block;
  border:0;
  font-size: 14px;
  cursor: pointer;
  background-color: #0099FF;
  color: #FFF;
  padding: 0 16px;
  line-height:40px;
  height: 40px;
}
a.logo{
  display:block;
  margin-top:30px;
  margin-left:20px;
  background-image:url('../images/logo.jpg');
  background-repeat:no-repeat;
  height:70px;
}

ul.module {
  clear:both;
  margin:0 20px;
  margin-top:20px;
  overflow: hidden;
  background-color:#4DAEFF;
}

ul.module li {
  float: left;
}

ul.module li a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background-color:#4DAEFF;
  color: #FFF;
  padding: 0 25px;
}

ul.module li a:hover {
  background-color: #34A3FF
}

ul.module li.current a {
  background-color: #34A3FF
}

ul.module li.home a {
  background-color: #2099FE
}

div.body {
  margin: 0 auto;
  width: 998px;
  background-color:#FFF;
  -webkit-box-shadow:0 4px 4px 0 #CCC;
  -moz-box-shadow:0 4px 4px 0 #CCC;
  box-shadow:0 4px 4px 0 #CCC;
}

div.left {
  margin-left: 20px;
  margin-top:20px;
  float: left;
  width: 660px;
}

div.right {
  margin-right: 20px;
  margin-top:20px;
  float: right;
  width: 276px;
}

div.clear {
  font-size: 0;
  height: 0;
  clear: both;
}

div.space {
  font-size:0;
  height:20px;
  clear:both;
}

div.footer {
  margin-top: 20px;
  overflow: hidden;
  background-color: #333;
  padding:20px;
}

div.footer-body{
  color: #999;
  font-size: 15px;
  margin: 0 auto;
  width: 998px;
}

div.footer-body a{
  color: #aaa;
}

div.footer-body a:hover{
  color: #FFF;
  text-decoration:underline;
}

ul.infos{
  float: left;
  display: block;
  width:120px;
  border-right:1px solid #444;
}
ul.infos li{
  display:block;
  height:28px;
}
ul.infos li a{
  font-size:14px;
}
ul.links{
  float: left;
  margin-left:-1px;
  display: block;
  width:860px;
  border-left:1px solid #444;
}
ul.links div{
  margin-left:20px;
  height:28px;
  color:#888;
  font-size:16px;
}
ul.links li{
  float:left;
  margin-left:20px;
  display: block;
  width:87px;
  height:26px;
  line-height:26px;
}

i.copyright {
  float: left;
  display: block;
  height: 20px;
  line-height: 20px;
}

i.info {
  display: block;
  float: right;
  height: 20px;
  line-height: 20px;
}

.title {
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  color: #0CA565;
  border-bottom:1px solid #DDD;
}

.left ul li {
  border-bottom:1px solid #E0E0E3;
  margin-bottom: 18px;
  position: relative;
  background-color:#FFF;
}

div.art_header {
}

div.art_header a {
  display:block;
  padding: 10px 60px 10px 0px;
  font-size: 18px;
  color: #000;
}
div.art_header a:hover {
  text-decoration:underline;
}

div.art_tag{
  color:#9A9A9A;
}
div.art_tag i{
  margin-right:5px;
}
div.art_tag a.tag {
  color:#888;
  padding:0;
  background-color:transparent;
  border:0;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
}
div.art_tag a.tag:hover {
  color: #50A0D0;
}

div.art_desc {
  min-height:116px;
  padding: 10px 21px 19px 0;
  line-height: 24px;
  color: #525252;
  font-size: 14px;
  word-break: break-all;
}

div.art_desc p{
  font-size: 14px;
}

div.art_desc a.detail{
  font-size: 14px;
}

div.art_footer {
  height: 40px;
  line-height: 40px;
  color:#9A9A9A;
}
div.art_footer i{
  margin-right:5px;
}
div.art_footer a {
  color: #9A9A9A;
  background-color: #F4F4F4;
  padding: 3px 6px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
div.art_footer a.tag {
  color:#888;
  padding:0;
  background-color:transparent;
  border:0;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
}
div.art_footer a:hover {
  color: #50A0D0;
}

div.art_footer a ol{
  cursor:default;
  margin-left:-5px;
  margin-top:3px;
  display:none;
  position:absolute;
  z-index:1000;
  width:120px;
  background-color:#FFF;
  border:1px solid #C8C8C8;
  overflow:hidden;
}

div.art_footer a:hover ol {
  display:block;
}

div.art_footer li{
  margin:0;
  height:30px;
  line-height:30px;
  border-bottom:1px solid #EEE;
  display:block;
  color:#636363;
  text-indent:1em;
  cursor:pointer;
}

.art_desc p {
}

div.container{
  border:1px solid #E6E6E6;
}

div.comp {
  margin-bottom: 10px;
  overflow: hidden;
}

div.comp_header {
  margin: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #DDDDDD
}

div.comp_body {
  margin: 8px;
  overflow: hidden;
}

div.comp_body ul {

}

div.comp_body ul li {
  display: block;
  height: 30px;
}

.nlfPagingForm {
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center
}
.nlfPagingForm span {
  display:none;
}
.nlfPagingForm input {
  display:none;
}
.nlfPagingForm a {
  margin-left:3px;
  color: #888;
  text-align: center;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 5px 5px;
}
.nlfPagingForm a.current,a.ellipsis {
  border:0;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  padding: 5px 5px;
}
.nlfPagingForm a:hover {
  background-color: #F0F0F0;
}
.nlfPagingForm a.current:hover,a.ellipsis:hover {
  background-color: transparent;
}
