@charset "UTF-8";

*{
 margin:0;
 padding:0;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 -ms-box-sizing:border-box;
 -o-box-sizing:border-box;
 box-sizing:border-box;
 outline:none;
}
ul{list-style:none;}
a{text-decoration:none;}
html{
  font:normal 14px/1.5 "Hiragino Sans GB","Microsoft YaHei", "hei", Arial, "Lucida Grande", Verdana;
}
div.title{
  height:3em;
  line-height:3em;
  text-indent:1em;
  font-weight:bold;
}
div.space{
  height:2em;
}
.sn {
  width:60px
}
.remark{
  text-align:left;
  color:#999;
  text-indent:1em;
}
table.list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  empty-cells: show;
  border: 0;
  border-top: 1px solid #DBDCE2;
  border-bottom: 1px solid #DBDCE2;
}

table.list thead th {
  height: 35px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #666;
  padding-left: 10px;
  background-color: #F2F3F6;
  border: 0;
  border-bottom: 1px solid #DBDCE2;
  border-right: 1px solid #DBDCE2;
  text-align: left;
  white-space: nowrap;
}
table.list thead th:last-child {
  border-right: 0;
}

table.list tbody td {
  background-color: #FFF;
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:5px;
  border: 0;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #EBECEF;
  white-space: nowrap;
}

table.list tbody tr.current td {
  background-color: #FEFBF2;
  padding-left: 10px;
  border: 0;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #DEE0E9
}

table.list tbody tr.current td:first-child {
  border-left: 4px solid #5F97FB
}

table.list tfoot td {
  background-color: #F2F3F6;
  height: 40px;
  border: 0;
}

table.detail{
  position:relative;
  width:95%;
  margin-left:1em;
  background-color:#FFF;
  border-left:1px solid #EFEFEF;
  border-top:1px solid #EFEFEF;
  border-right:1px solid #EFEFEF;
  border-collapse: collapse;
  empty-cells: show;
}
table.detail th {
  text-align:left;
  color:#5D5B5C;
  padding:20px;
  padding-top:12px;
  padding-bottom:12px;
  border-bottom:1px solid #EFEFEF;
  white-space:nowrap;
}
table.detail td {
  color:#5D5B5C;
  padding:20px;
  padding-top:12px;
  padding-bottom:12px;
  border-bottom:1px solid #EFEFEF;
}

.nlfPagingForm {
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center
}
.nlfPagingForm span {
}
.nlfPagingForm span.record-prefix,span.size-prefix {
  margin-left:1em;
}

.nlfPagingForm input {
  width:40px;
  border:1px solid #999;
  background-color:#FFF;
}
.nlfPagingForm a {
  margin-left:3px;
  color: #888;
  text-align: center;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 5px 5px;
}
.nlfPagingForm a.current,a.ellipsis {
  border:0;
  border-radius:0;
  background-color: transparent;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  padding: 5px 5px;
}
.nlfPagingForm a:hover {
  background-color: #F0F0F0;
}
.nlfPagingForm a.current:hover,a.ellipsis:hover {
  background-color: transparent;
}